requests
beautifulsoup4
setuptools
pytest
pymongo
feedparser
PyYAML
deepdiff
xmltodict
chardet
pandas
python-dateutil
inflection
hexdump
httplib2
mysqlclient
osintflow
typing
DateTime
mysql-connector-python
SQLAlchemy
pangres